################################
######## Shell_Command #########
################################
[gcode_shell_command send_line_test]
command: ~/line_scrpit/sendlinetest.sh
timeout: 2.
verbose: True

################################
############ G_code ############
################################

[gcode_macro SEND_LINE_TEST]
gcode:
    RUN_SHELL_COMMAND CMD=send_line_test